.DS_Store
.DS_Store?
.idea
.idea?
*.iml
src/**/*.js
src/**/*.js.map
test/**/*.js
test/**/*.js.map
node_modules
bower_components
typings
!/karma.conf.js
!/gulpfile.js
!/test/**
!/dist/dependencies.js
!/dist/peer.io.js
